<section class="our-services-2 section-margin">
    <div class="container">
        <div class="one-title" data-dsn-animate="up">
            <div class="title-sub-container">
                <p class="title-sub">What's Inside</p>
            </div>
            <h2 class="title-main">
                About Our <span class="g-color g-shrink">
                    <span>DE</span>
                    <span>PAR</span>
                    <span>TME</span>
                    <span>NTS</span>
                </span>
            </h2>
        </div>

        <div class="row">
            <% for(var i = 0; i < departments.length; i++) {%>
             
                <div class="col-md-4">
                    <div class="services-item">
                        <div class="corner corner-top"></div>
                        <div class="corner corner-bottom"></div>
                        <div class="icon">
                            <img src="assets/img/services/<%= departments[i].attributes.icon %>" alt="">
                        </div>
                        <div class="services-header">
                            <h3><%= departments[i].attributes.title %></h3>
                            <h3><%= departments[i].attributes.icon %></h3>
                        </div>
                        <p><%= departments[i].attributes.description %></p>
                    </div>
                </div>
             <% } %>

        </div>
    </div>
</section>