<section class="our-services-2 section-margin">
    <div class="container">
        <div class="one-title" data-dsn-animate="up">
            <div class="title-sub-container">
                <p class="title-sub">Our Servcies</p>
            </div>
            <h2 class="title-main">New Branding Agency</h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="services-item">
                    <div class="corner corner-top"></div>
                    <div class="corner corner-bottom"></div>
                    <div class="icon">
                        <img src="assets/img/services/1.png" alt="">
                    </div>
                    <div class="services-header">
                        <h3>DIGITAL PRODUCTS</h3>
                    </div>
                    <p>Web design encompasses many different skills and disciplines in the production of
                        all
                        web.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item selected">
                    <div class="corner corner-top"></div>
                    <div class="corner corner-bottom"></div>
                    <div class="icon">
                        <img src="assets/img/services/2.png" alt="">
                    </div>
                    <div class="services-header">
                        <h3>UI-UX DESIGN</h3>
                    </div>
                    <p>Web design encompasses many different skills and disciplines in the production of
                        all
                        web.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="services-item">
                    <div class="corner corner-top"></div>
                    <div class="corner corner-bottom"></div>
                    <div class="icon">
                        <img src="assets/img/services/3.png" alt="">
                    </div>
                    <div class="services-header">
                        <h3>WEB DEVELOPMENT</h3>
                    </div>
                    <p>Web design encompasses many different skills and disciplines in the production of
                        all
                        web.</p>
                </div>
            </div>
        </div>
    </div>
</section>