
            <section class="intro-about section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="intro-content-text">

                                <h2 data-dsn-grid="move-section" data-dsn-move="-30" data-dsn-duration="100%"
                                    data-dsn-opacity="1.2" data-dsn-responsive="tablet">
                                    Hello we are, <br /> 
                                    <span class="g-color">
                                        <span>G</span>
                                        <span>D</span>
                                        <span>S</span>
                                        <span>C</span>
                                    </span> UIT RGPV
                                </h2>

                                <p data-dsn-animate="text">The GDSC chapter of University Institute of Technology RGPV, Bhopal promotes and felicitates a community of like minded students who are problem solvers and eager learners from different subject backgrounds</p>

                                <!-- <h6 data-dsn-animate="text">SALVADOR DALI</h6>
                                <small data-dsn-animate="text">Digital Artisit</small> -->

                                <div class="exper">
                                    <div class="numb-ex">
                                        <span class="word" data-dsn-animate="text">01</span>
                                    </div>

                                    <h4 data-dsn-animate="up">YEARS OF <br> DIGITAL EXPERIENCE</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="background-mask">
                    <div class="background-mask-bg"></div>
                    <div class="img-box">
                        <div class="img-cent" data-dsn-grid="move-up">
                            <div class="img-container">
                                <img data-dsn-y="30%" src="assets/img/bgg.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>