
            <section class="intro-about section-margin">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="intro-content-text">

                                <h2 data-dsn-grid="move-section" data-dsn-move="-30" data-dsn-duration="100%"
                                    data-dsn-opacity="1.2" data-dsn-responsive="tablet">
                                    Hello we are, <br /> Dsn Grid
                                </h2>

                                <p data-dsn-animate="text">Founded in 2000, Dsn Grid has become one of the best
                                    Digital
                                    Agency in
                                    ThemeForest.
                                    Blue money going forward, but deploy to production. C-suite. First-order optimal
                                    strategies build on a culture of contribution and inclusion so those options</p>

                                <h6 data-dsn-animate="text">SALVADOR DALI</h6>
                                <small data-dsn-animate="text">Digital Artisit</small>

                                <div class="exper">
                                    <div class="numb-ex">
                                        <span class="word" data-dsn-animate="text">25</span>
                                    </div>

                                    <h4 data-dsn-animate="up">YEARS OF <br> DIGITAL EXPERIENCE</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="background-mask">
                    <div class="background-mask-bg"></div>
                    <div class="img-box">
                        <div class="img-cent" data-dsn-grid="move-up">
                            <div class="img-container">
                                <img data-dsn-y="30%" src="assets/img/bgg.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>