<header>
    <div class="header-hero header-hero-2" data-dsn-header="project">
        <div id="descover-holder" class="bg-circle-dotted"></div>

        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-lg-12">
                    <div class="contenet-hero">
                        <h1>
                        <span class="g-color">
                            <span>Google</span>
                            <span>Developer</span>
                            <span>Students</span>
                            <span>Club</span>
                        </span>
                        UIT RGPV</h1>
                        <p>We Bring Ideas To Life</p>
                        <a href="#" class="view-case scroll-down">Scroll Down <img
                                src="assets/img/arrow-right-wight.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>