<section class="work-under-header" data-dsn-col="2">
    <div class="container">
        <div class="custom-container">
            <div class="row">
                <div class="col-lg-9 offset-lg-3">
                    <div class="work-container">
                        <div class="slick-slider">
                            <div class="work-item slick-slide">
                                <img class="has-top-bottom" src="https://4kwallpapers.com/images/walls/thumbs_3t/5630.jpg"
                                    alt="">
                                <div class="item-border"></div>
                                <div class="item-info">
                                    <a href="project-7.html" data-dsn-grid="move-up"
                                        class="effect-ajax">

                                        <h5 class="cat">Photography</h5>
                                        <h4>Nile - Kabutha</h4>
                                        <span><span>Veiw Project</span></span>
                                    </a>

                                </div>
                            </div>

                            <div class="work-item slick-slide">
                                <img class="has-top-bottom" src="https://d29fhpw069ctt2.cloudfront.net/photo/7235/preview/29f90935-c10f-4a21-be0c-fdfe0edf943a_1280x1280.jpg"
                                    alt="">
                                <div class="item-border"></div>
                                <div class="item-info">
                                    <a href="project-6.html" data-dsn-grid="move-up"
                                        class="effect-ajax">

                                        <h5 class="cat">Fashion</h5>
                                        <h4>Bloawshom</h4>
                                        <span><span>Veiw Project</span></span>
                                    </a>

                                </div>
                            </div>

                            <div class="work-item slick-slide">
                                <img class="has-top-bottom" src="https://data.whicdn.com/images/334650350/original.jpg"
                                    alt="">
                                <div class="item-border"></div>
                                <div class="item-info">
                                    <a href="project-4.html" data-dsn-grid="move-up"
                                        class="effect-ajax">

                                        <h5 class="cat">Photography</h5>
                                        <h4>Bastian Bux</h4>
                                        <span><span>Veiw Project</span></span>
                                    </a>

                                </div>
                            </div>

                            <div class="work-item slick-slide">
                                <img class="has-top-bottom" src="https://www.ixpap.com/images/2021/02/green-wallpaper-ixpap-19.jpg"
                                    alt="">
                                <div class="item-border"></div>
                                <div class="item-info">
                                    <a href="project-5.html" data-dsn-grid="move-up"
                                        class="effect-ajax">

                                        <h5 class="cat">Fashion</h5>
                                        <h4>Bloawshom</h4>
                                        <span><span>Veiw Project</span></span>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
