
            <section class="brand-client section-margin">
                <div class="container">
                    <div class="one-title" data-dsn-animate="up">
                        <div class="title-sub-container">
                            <p class="title-sub">Our Partners</p>
                        </div>
                        <h2 class="title-main">Our Community Partners</h2>
                    </div>

                    <div class="wapper-client">



                        <% for(var i = 0; i < partners.length; i++) {%>
                            <div class="logo-box">
                                <img src="<%= partners[i].attributes.Logo.data.attributes.url %>" alt="">
    
                                <div class="info">
                                    <div class="content" onclick="javascript:void(0);">
                                        <div class="icon">
                                            <i class="fas fa-plus"></i>
                                        </div>
    
                                        <div class="entry">
                                            <div>
                                                <h4><%= partners[i].attributes.Name %></h4>
                                                <a href="<%= partners[i].attributes.URL %>"><%= partners[i].attributes.URL %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <% } %>
            

                        


                    </div>
                </div>
            </section>