
                    <section class="our-team section-margin section-padding">
                        <div class="container">
                            <div class="one-title" data-dsn-animate="up">
                                <div class="title-sub-container">
                                    <p class="title-sub">our team</p>
                                </div>
                                <h2 class="title-main">The best <span class="g-color g-shrink">
                                    <span>T</span>
                                    <span>E</span>
                                    <span>A</span>
                                    <span>M</span>
                                </span> ever!</h2>
                            </div>

                            <div class="custom-container">
                                <div class="slick-slider">


                                    <% for(var i = 0; i < teams.length; i++) {%>
                                        <div class="team-item slick-slide">
                                            <div class="box-img">
                                                <img src="<%= apiUrl + teams[i].attributes.image.data.attributes.url %>" alt="">
                                            </div>
    
                                            <div class="box-content">
                                                <h4><%= teams[i].attributes.name %></h4></h4>
                                                <p><%= teams[i].attributes.position %></p>
                                            </div>
                                        </div>
                                     <% } %>
                        
                                 


                                </div>
                            </div>
                        </div>

                    
                    </section>