
                    <section class="our-team section-margin section-padding">
                        <div class="container">
                            <div class="one-title" data-dsn-animate="up">
                                <div class="title-sub-container">
                                    <p class="title-sub">our team</p>
                                </div>
                                <h2 class="title-main">The best team ever!</h2>
                            </div>

                            <div class="custom-container">
                                <div class="slick-slider">
                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/1.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>Blake Hamilton</h4>
                                            <p>Project manager</p>
                                        </div>
                                    </div>

                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/2.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>Ahmed Shawky</h4>
                                            <p>Web Designer</p>
                                        </div>
                                    </div>

                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/3.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>John Doe</h4>
                                            <p>Engineer</p>
                                        </div>
                                    </div>

                                    <div class="team-item slick-slide">
                                        <div class="box-img">
                                            <img src="assets/img/team/4.png" alt="">
                                        </div>

                                        <div class="box-content">
                                            <h4>Ira Mulanax</h4>
                                            <p>Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>