<section class="client-see section-margin">
    <div class="container">
        <div class="inner">
            <div class="left">
                <h2 class="title" data-dsn-grid="move-section" data-dsn-move="-60"
                    data-dsn-duration="100%" data-dsn-opacity="1" data-dsn-responsive="tablet">
                    <span class="text">Feedback from our clients.</span>
                </h2>
            </div>

            <div class="items">
                <div class="bg"></div>
                <div class="slick-slider">

                    
                    <% for(var i = 0; i < feedbacks.length; i++) {%>
                        <div class="item">
                            <div class="quote">
                                <p>
                                    <%= feedbacks[i].attributes.feedback %>
                                </p>
                            </div>
                            <div class="bottom">
                                <div class="avatar">
                                    <img src="<%= apiUrl + feedbacks[i].attributes.Avatar.data.attributes.url %>" alt="">
                                </div>
                                <div class="label">
                                    <div class="cell">- <%= feedbacks[i].attributes.Name %>, <%= feedbacks[i].attributes.Position %></div>
                                </div>
                            </div>
                        </div>
                    <% } %>



                </div>
            </div>
        </div>
    </div>
</section>