<section class="client-see section-margin">
    <div class="container">
        <div class="inner">
            <div class="left">
                <h2 class="title" data-dsn-grid="move-section" data-dsn-move="-60"
                    data-dsn-duration="100%" data-dsn-opacity="1" data-dsn-responsive="tablet">
                    <span class="text">Feedback from our clients.</span>
                </h2>
            </div>

            <div class="items">
                <div class="bg"></div>
                <div class="slick-slider">
                    <div class="item">
                        <div class="quote">
                            <p>"The Brief team has been sincerely committed to
                                designing great communication around our projects. Our customers love
                                their
                                creative work - and so do we!"</p>
                        </div>
                        <div class="bottom">
                            <div class="avatar">
                                <img src="assets/img/avatar/1.jpg" alt="">
                            </div>
                            <div class="label">
                                <div class="cell">- Helen Ginsberg, CEO of Treasure Island</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="quote">
                            <p>"Stage direction, music, ballet, workshops, backstage, the GTG presents
                                the
                                first
                                episode of the series “Les Indes galantes en création"</p>
                        </div>
                        <div class="bottom">
                            <div class="avatar">
                                <img src="assets/img/avatar/2.jpg" alt="">
                            </div>
                            <div class="label">
                                <div class="cell">- Helen Ginsberg, CEO of Treasure Island</div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="quote">
                            <p>"The Brief team has been sincerely committed to
                                designing great communication around our projects. Our customers love
                                their
                                creative work - and so do we!"</p>
                        </div>
                        <div class="bottom">
                            <div class="avatar">
                                <img src="assets/img/avatar/3.jpg" alt="">
                            </div>
                            <div class="label">
                                <div class="cell">- Helen Ginsberg, CEO of Treasure Island</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>