<!DOCTYPE html>
<html lang="en-US">


<!-- Mirrored from theme.dsngrid.com/droow/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Jan 2022 09:54:01 GMT -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="discrption" content="parallax one page" />
    <meta name="keyword"
        content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple" />

    <!--  Title -->
    <title>Contact Us | Google Developer Students Club UIT RGPV </title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&amp;display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />

</head>

<body class="hamburger-menu dsn-effect-scroll dsn-ajax" data-dsn-mousemove="true">
    <%- include('partials/layout/preloader.ejs') %>
        <%- include('partials/layout/navbar.ejs') %>

            <main class="main-root">
                <div id="dsn-scrollbar">

                    <header>
                        <div class="container header-hero">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="contenet-hero">
                                        <h5>Lat's Tock</h5>
                                        <h1>Contact</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="wrapper">


                        <div class="root-contact">
                            <div class="container-fluid ">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14656.604709657235!2d77.3619186!3d23.3102731!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x296f51f7ef0498c7!2sRajiv%20Gandhi%20Proudyogiki%20Vishwavidyalaya!5e0!3m2!1sen!2sin!4v1641453999677!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>

                            <div class="container section-margin">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="box-info-contact">
                                            <h3>Start a new project?</h3>
                                            <h5>Visit our studio at</h5>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit vo
                                                luptatem accusantium natus error sit omnis iste natus</p>

                                            <ul>
                                                <li>
                                                    <span>Phone</span>
                                                    <a href="#">+1 (800) 990 8877</a>
                                                </li>
                                                <li>
                                                    <span>Email</span>
                                                    <a href="#">info@example.com</a>
                                                </li>
                                                <li>
                                                    <span>Address</span>
                                                    <a href="#">778 NE 84th St Miami, FL</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-box">
                                            <h3>Write A Comment</h3>
                                            <form id="contact-form" class="form" method="post"
                                                action="javascript:void(0)"
                                                data-toggle="validator">
                                                <div class="messages"></div>
                                                <div class="input__wrap controls">
                                                    <div class="form-group">

                                                        <div class="entry">
                                                            <label>What's your name?</label>
                                                            <input id="form_name" type="text" name="name"
                                                                placeholder="Type your name" required="required"
                                                                data-error="name is required.">
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="entry">
                                                            <label>What's your email address?</label>
                                                            <input id="form_email" type="email" name="email"
                                                                placeholder="Type your Email Address"
                                                                required="required"
                                                                data-error="Valid email is required.">
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="entry">
                                                            <label>What's up?</label>
                                                            <textarea id="form_message" class="form-control"
                                                                name="message"
                                                                placeholder="Tell us about you and the world"
                                                                required="required"
                                                                data-error="Please,leave us a message."></textarea>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>

                                                    <div class="image-zoom" data-dsn="parallax">
                                                        <button>Send Message</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section class="contact-up section-margin section-padding">
                            <div class="container">
                                <div class="c-wapp">
                                    <a href="work.html" class="effect-ajax">
                                        <span class="hiring">
                                            portfolio
                                        </span>
                                        <span class="career">
                                            See More Works
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </section>

                    </div>

                    <%- include('partials/layout/footer.ejs') %>

                </div>
            </main>


            <!-- Wait Loader -->
            <div class="wait-loader">
                <div class="loader-inner">
                    <div class="loader-circle">
                        <div class="loader-layer"></div>
                    </div>
                </div>
            </div>
            <!-- // Wait Loader -->


            <!-- cursor -->
            <div class="cursor">

                <div class="cursor-helper cursor-view">
                    <span>VIEW</span>
                </div>

                <div class="cursor-helper cursor-close">
                    <span>Close</span>
                </div>

                <div class="cursor-helper cursor-link"></div>
            </div>
            <!-- End cursor -->

            <!-- Optional JavaScript -->
            <script src="assets/js/jquery-3.1.1.min.js"></script>
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/dsn-grid.js"></script>
            <script src="assets/js/custom.js"></script>

            <script>
                $(document).ready(function () {
                    $('#contact-form').validator();
                });
                // Post Request when Form Submit
                $('#contact-form').on('submit', function (e) {
                    // Ajax post request on apiUrl + /api/messages
                    $.post('<%= apiUrl  %>'+ '/api/messages',{
                        name: $('#form_name').val(),
                        email: $('#form_email').val(),
                        message: $('#form_message').val()
                    },function (data) {
                        // console.log(data);
                        if (data.status == 'success') {
                            $('#contact-form')[0].reset();
                            $('#contact-form').validator('destroy');
                            $('#contact-form').validator();
                            alert('Your message has been sent successfully');
                        } else {
                            alert('Something went wrong');
                        }
                    });
                    return false;
                });
            </script>
</body>


<!-- Mirrored from theme.dsngrid.com/droow/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Jan 2022 09:57:18 GMT -->

</html>